@import "material-kit";
$primary-color: #0f3664f2;
$accent-color: #f2ba14;

@mixin deep-width($number) {
  width: $number;
  min-width: $number;
  max-width: $number;
}

@mixin deep-height($number) {
  height: $number;
  min-height: $number;
  max-height: $number;
}
.pac-logo {
  width: 180px;
}
.pac-long-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  .pac-icon {
    width: 30px;
  }
  .pac-image {
    width: 100px;
    img {
      width: 100%;
      height: initial;
    }
  }
  .pac-description {
    flex: 1;
  }

  .pac-body {
    text-align: left;
    flex: 1;
  }
}

.pac-grey-1 {
  background-color: #eee;
}

.pac-page-header {
  height: 600px;
  text-align: left;
  .pac-title {
    margin-top: 100px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: normal;
    font-family: "Open Sans", sans-serif;
    strong {
      font-size: 44px;
      color: $accent-color;
    }
  }

  .pac-description {
    font-size: 16px;
  }

  .pac-partner-row {
    padding: 0 24px 0 0;
    margin-top: 50px;
    .pac-card {
      padding-right: 12px;
      width: 25%;
      a {
        width: 100%;
      }
      img {
        width: 80%;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    height: 350px;
    margin-top: 50px;
    text-align: center;
    .pac-title {
      font-size: 24px;
      strong {
        font-size: 30px;
        color: $accent-color;
      }
    }
    .pac-description {
      font-size: 14px;
    }

    .pac-partner-row {
      padding: 0 10px 0 0;
      margin-top: 15px;
      .pac-card {
        padding-right: 12px;
        a {
          width: 100%;
        }
        img {
          width: 100%;
        }
      }
    }
  }

  .pac-book-us {
    padding-top: 50px;
    justify-items: end;
    align-items: flex-end;
    color: #e5e5e5;
    h3 {
      font-weight: bold;
    }
    img {
      height: 300px;
      width: initial;
    }

    @include media-breakpoint-down(sm) {
      display: none;
      visibility: hidden;
      @include deep-height(0);
    }
  }
}

.pac-section {
  @include media-breakpoint-down(sm) {
    padding-top: 30px;
  }
}

.pac-choose-us-section {
  background-color: rgba($primary-color, 0.2);

  .pac-testimonials-row {
    margin: 0 auto;
    width: 700px;
  }
  .pac-long-card {
    margin-bottom: 20px;
    .pac-image {
      display: flex;
      justify-items: center;
      align-items: center;
      width: 150px;
      height: 150px;
      margin: 0 25px;
      background-color: #fff;
      border-radius: 50%;

      img {
        width: initial;
        height: 80%;
      }
    }

    .pac-body {
      h4 {
        font-weight: bold;
        margin: 0;
      }
      img {
        height: 20px;
        margin: -5px;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    width: 100%;

    .pac-testimonials-row {
      margin: 0;
      width: 100%;
    }

    .pac-long-card {
      margin-bottom: 20px;
      .pac-image {
        width: 80px;
        height: 80px;
        margin: 0 12px;

        img {
          height: 80%;
        }
      }

      .pac-body {
        h4 {
          margin: 0;
        }
        img {
          height: 20px;
          margin: -5px;
        }
      }
    }
  }
}

.pac-partner-container {
  width: 70%;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.pac-partner-row {
  margin-top: 40px;
  .pac-card {
    padding: 0 24px;
    width: 25%;
    a,
    img {
      width: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 20px;
    flex-wrap: wrap;
    .pac-card {
      padding: 0 24px;
      margin-bottom: 20px;
      width: 50%;
      a,
      img {
        width: 100%;
      }
    }
  }
}

.pac-contact-row {
  height: 150px;
  background-color: $primary-color;

  .pac-card {
    padding: 12px 8px;
    color: $accent-color;
    margin: 0;
    width: 100%;
    height: 100%;

    .pac-icon {
      width: 100%;
      text-align: center;
      font-size: 40px;
    }

    .pac-body {
      width: 100%;
      text-align: center;
      font-size: 12px;
    }

    a,
    h4 {
      color: #e5e5e5 !important;
    }

    h4 {
      margin: 4px 0;
      font-size: 20px;
      font-weight: bold;
    }
    a {
      &:hover {
        color: #9a9a9a !important;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    height: 100px;

    .col-6 {
      padding: 0 2px;
    }

    .pac-card {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-items: left;
      padding: 8px 8px;
      text-align: left;

      .pac-icon {
        width: 25px;
        font-size: 20px;
      }

      .pac-body {
        flex: 1;
        font-size: 10px;
        h4 {
          margin: 2px 0;
          font-size: 10px;
          font-weight: bold;
        }
        h6 {
          margin: 2px 0;
          text-transform: capitalize;
          font-size: 10px;
          font-weight: bold;
        }
      }
    }
  }
}

.pac-features {
  .pac-card {
    padding: 12px 8px;
    margin: 0;
    width: 100%;
    height: 100%;

    .pac-body {
      width: 100%;
      text-align: center;
      font-size: 12px;

      img {
        margin: 12px;
        height: 60px;
      }
    }

    h4 {
      margin: 4px 0;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.pac-testimonials-row {
  margin: 50px 0 20px 0;
  .pac-card {
    padding: 12px 8px;
    margin: 0;
    width: 100%;
    height: 100%;

    .pac-body {
      width: 100%;
      text-align: center;
      font-size: 12px;

      img {
        margin: 12px;
        height: 40px;
      }
    }

    h4 {
      margin: 4px 0;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.pac-about-us-section {
  background-color: $primary-color;
  color: #fff;

  p,
  h2,
  h4,
  a {
    color: #fff;
  }

  a:hover {
    color: #dbedf6;
  }

  .pac-icon {
    margin-left: 20px;
    color: $accent-color;
    font-size: 30px;
  }
  .pac-section-left {
    padding-right: 40px;
    text-align: left;
  }
  .pac-section-right {
    text-align: right;
    a {
      font-size: 18px;
    }
  }

  @include media-breakpoint-down(sm) {
    text-align: center;

    .pac-section-left,
    .pac-section-right {
      text-align: center;
      padding: 10px;
    }

    .pac-section-right {
      a,
      h4 {
        font-size: 14px;
      }
    }

    .pac-card {
      flex-direction: row-reverse !important;
      justify-content: center !important;
    }

    .pac-icon {
      margin-left: 0;
      margin-right: 12px;
    }
  }
}

.pac-image {
  overflow: hidden;
}

.pac-contact-us {
  font-weight: bold;
}

.navbar-nav a {
  font-size: 16px !important;
  font-weight: 600 !important;
  padding-top: 2px;
}

.navbar-nav {
  .pac-contact-us {
    font-weight: bold;
    font-size: 20px !important;
    font-weight: 600 !important;
    color: #1d4d31;
    border: 1px solid #1d4d31;
    border-radius: 12px;

    a {
      font-size: 20px !important;
      font-weight: 600 !important;
    }
  }
}

.parallax {
  width: 100%;
  height: 570px;

  display: block;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.navbar-default .logo-container .brand {
  color: #999999;
}

.navbar-transparent .logo-container .brand {
  color: #ffffff;
}

.parallax .parallax-image {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.parallax .parallax-image img {
  width: 100%;
}
