
/* Default background image */
.page-header {
  background-image: url('./assets/img/homepage_photo.JPG');
  background-size: cover;
  
}

/* Mobile background image */
@media (max-width: 767px) {
  .page-header {
    background-image: url('./assets/img/mobile_background.JPG');
    background-size: cover;
    background-position: right center;
  }
}

.pac-info-title {
  color: #000080;
}

.pac-card-description {
  font-size: 16px;
  color: #000;
}

.pac-card-services .pac-img {
   height: 200px!important;
   margin-bottom: 20px;   
   display: flex;
   flex-direction: column;
   justify-content: end;
}

.pac-card-services .pac-img img {
  height: 90%!important;
 
}

.pac-card-services .pac-service-type-3 img {
  width: 100%;
  height: initial!important;
  }